/* font-family: Abel;*/
@font-face{
    font-family: Abel;
    src: url(../font/Abel/Abel-Regular.ttf);
}

/* font-family: Baloo_2;*/
@font-face{
    font-family: Abel;
    src: url(../font/Baloo_2/Baloo2-Regular.ttf);
}

/* font-family: Livvic;*/
@font-face{
    font-family: livvic;
    src: url(../font/Livvic/Livvic-Regular.ttf);
}

/* font-family: poppins;*/
@font-face{
    font-family: poppins;
    src: url(../font/Poppins/Poppins-Regular.ttf);
}